# Database
DATABASE_URL="postgresql://pasmada:pasmada_secret@localhost:5432/pasmada"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Resend Email (https://resend.com)
RESEND_API_KEY="re_your_api_key_here"
RESEND_FROM="PASMADA <onboarding@resend.dev>"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
